.mukalla-clock-wrapper {
  position: absolute;
  top: 0.5px; 
  right: 861px;
  z-index: 50;
}

.analog-card {
  background: transparent ;
  border: none ;
  box-shadow: none ;
}

.hour-number {
  position: absolute;
  top: 8px; /* المسافة من الحافة - كل ما كبر الرقم قرب للنص */
  left: 50%;
  transform-origin: center;
  margin-left: -5px; /* عشان يتوسط */
  font-size: 9px;
  font-weight: 800;
  color: #1a1a2e;
  font-family: sans-serif;
}
  
.digital-time {
  background: rgba(255,255,255,0.8);
  border-radius: 6px;
  padding: 2px 6px;
  margin-top: 8px;
  font-size: 11px;
}

.analog-header {
  font-size: 12px;
  font-weight: 700;
  color: #0a0a0a;
  margin-bottom: 5px;
}

.analog-clock {
  width: 100px;
  height: 100px;
  border: 2px solid #1a1a2e;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  background: white;
}

.hour-mark { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }
.mark-line { width: 1px; height: 4px; background: #d4af37; margin: 1px auto 0; }

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  border-radius: 10px;
}
.hour-hand { width: 2.5px; height: 20px; background: #1a1a2e; margin-left: -1.2px; }
.minute-hand { width: 1.5px; height: 26px; background: #333; margin-left: -0.7px; }
.second-hand { width: 1px; height: 35px; background: #c0392b; margin-left: -0.5px; }

.center-dot {
  position: absolute;
  top: 50%; left: 50%;
  width: 5px; height: 5px;
  background: #d4af37;
  border: 1px solid #1a1a2e;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.digital-time {
  margin-top: 5px;
  font-family: monospace;
  font-weight: 800;
  font-size:14px;
  color: #080808;
  direction: ltr;
}

/*mobil*/
@media (max-width: 768px) {
  .mukalla-clock-wrapper {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 10px auto 15px auto;
    width: 100%;
  }
}