html{
  direction: rtl;  /*عكس المكونات ممن اليمين الى اليسار */
  background-color: rgb(102, 160, 160);
}

body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  position: relative;
}

/* الخلفية الثابتة */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("./assets/MO.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 0;
}

/* تعتيم الخلفية */
body::after {
  content: "";
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.35);

  z-index: 1;
}

/* محتوى الموقع فوق الخلفية */
#root {
  position: relative;
  z-index: 2;
}