html{
  direction: rtl;  /*عكس المكونات ممن اليمين الى اليسار */
  background-color: rgb(102, 160, 160);
}
body {
  background-image: url('./assets/MO.jpeg'); /* حط صورتك هنا */
  background-size: cover; /* تغطي الصفحة كاملة */
  background-position: center;
  background-attachment: fixed; /* تثبت مع النزول */
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* عشان الكروت تبرز فوق الخلفية */
body::before {
  content: '';
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.35); /* تعتيم خفيف */
  z-index: -1;
}



