html{
  direction: rtl;  /*عكس المكونات ممن اليمين الى اليسار */
  background-color: rgb(102, 160, 160);
}
body {
  position: relative;
  margin: 0;
  min-height: 100vh;
}

/* هذه هي الخلفية الثابتة الحقيقية */
body::before {
  content: "";
  position: fixed; /* أهم سطر - يثبتها */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/MO.jpeg'); /* حط رابط صورتك هنا */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* ترجع ورا كل المحتوى */
  will-change: transform; /* عشان تكون سلسة في الجوال */
}



